{% block title %}Course{% endblock %}
{% block content %}

<main class="main-home">
    <div class="sec-main-home">
        <div class="course-text-home">
            <h1>Course</h1>
            <p>O <span class="science">banco de questões</span> mais completo da internet! Torne-se um especialista nas áreas do <span class="science">conhecimento!</span></p>
            <p></p>
        </div>
        <!-- <div class="course-img-home">
            <img src="/test/static/img/arranjo-do-conceito-de-verdade-com-uma-lupa.jpg" alt="Image">
        </div> -->
        <div id="square_1"></div>
        <div id="square_2"></div>
        <div id="square_3"></div>
        <div id="square_4"></div>
        <div id="square_5"></div>
    </div>
</main>

{% endblock %}