{% extends "base.html" %}
]{% block title %}Questões | Course{% endblock %}
{% block content %}

<main class="main-question">

    <!-- {% for question in questions %}
    <div class="questoes">
        <div class="text-question">
            <p>Q. {{question.id}}</p>
        </div>
        <div class="quiz">
            <p class="enunciado" id="pergunta">{{question.title}}</p>
            <div class="answers" id="buttons-resposta">
                <button class="btn">{{question.answer_1}}</button>
                <button class="btn">{{question.answer_2}}</button>
                <button class="btn">{{question.answer_3}}</button>
                <button class="btn">{{question.answer_4}}</button>
                <button class="btn">{{question.answer_5}}</button>
            </div>
        </div>
    </div>
    {% endfor %} -->

    {% for question in questions %}
    <div class="questoes">
        <div class="text-question">
            <div class="informations">
                <p class="indexQuestao">Q.{{1}}</p>
                <p>-</p>
                <p class="prova">Enem</p>
                <p>-</p>
                <p class="conteudo">Matemática</p>
                <p>-</p>
                <p class="ano">2023</p>
            </div>
            <p class="acertou">Você acertou!</p>
        </div>
        <div class="quiz">
            <p class="enunciado" id="pergunta">{{question.title}}</p>
            <div class="answers">
                {% if question.correct == 'A'%}
                <div class="answer">
                    <p>A)</p>
                    <button id="{{question.correct}}" value="A" class="btn">{{question.answer_a}}</button>
                </div>
                {% if question.correct == 'B'%}
                <div class="answer">
                    <p>B)</p>
                    <button id="{{question.correct}}" value="B" class="btn">{{question.answer_b}}</button>
                </div>
                {% elif question.correct == 'C'%}
                <div class="answer">
                    <p>C)</p>
                    <button id="{{question.correct}}" value="C" class="btn">{{question.answer_c}}</button>
                </div>
                {% elif question.correct == 'D'%}
                <div class="answer">
                    <p>D)</p>
                    <button id="{{question.correct}}" value="D" class="btn">{{question.answer_d}}</button>
                </div>
                {% elii question.correct == 'E'%}
                <div class="answer">
                    <p>E)</p>
                    <button id="{{question.correct}}" value="E" class="btn">{{question.answer_e}}</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}

        <div id="paginacao">
            <span id="back" class="angles"><i class="fa-solid fa-angles-left"></i></span>
            <!-- Indicador de página -->
            <span id="current" class="pagina" data-pagina="1">1</span>
            <span class="pagina" data-pagina="2">2</span>
            <!-- Adicione mais spans conforme necessário -->
            <span id="next" class="angles"><i class="fa-solid fa-angles-right"></i></span>
        </div>
</main>

{% endblock %}