{% extends "base.html" %}
]{% block title %}Questões | Course{% endblock %}
{% block content %}

<main class="main-question">

    <div class="questoes">
        <div class="text-question">
            <p>Q. {{1}}</p>
        </div>
        <div class="quiz">
            <p class="enunciado" id="pergunta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta ratione debitis. Iusto odit fugiat fugit. Et eligendi illo maiores necessitatibus consequatur laudantium ex, officia optio, aspernatur mollitia doloremque saepe.</p>
            <div class="answers" id="buttons-resposta">
                <button class="btn">Resposta 1: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quae corrupti facilis eius omnis vero nihil fugiat voluptas aspernatur? Commodi eligendi reiciendis laudantium architecto temporibus voluptatum quis fugit praesentium voluptates! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium labore omnis pariatur sed dolore exercitationem! Officiis totam voluptate veritatis possimus magnam natus. Eveniet ipsum, nisi animi nam libero aliquid earum?</button>
                <button class="btn">Resposta 2</button>
                <button class="btn">Resposta 3</button>
                <button class="btn">Resposta 4</button>
            </div>
        </div>
    </div>

    <div class="questoes">
        <div class="text-question">
            <p>Q. {{2}}</p>
        </div>
        <div class="quiz">
            <p class="enunciado" id="pergunta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta ratione debitis. Iusto odit fugiat fugit. Et eligendi illo maiores necessitatibus consequatur laudantium ex, officia optio, aspernatur mollitia doloremque saepe.</p>
            <div class="answers" id="buttons-resposta">
                <button class="btn">Resposta 1</button>
                <button class="btn">Resposta 2</button>
                <button class="btn">Resposta 3</button>
                <button class="btn">Resposta 4</button>
            </div>
        </div>
    </div>

    <div class="questoes">
        <div class="text-question">
            <p>Q. {{3}}</p>
        </div>
        <div class="quiz">
            <p class="enunciado" id="pergunta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta ratione debitis. Iusto odit fugiat fugit. Et eligendi illo maiores necessitatibus consequatur laudantium ex, officia optio, aspernatur mollitia doloremque saepe.</p>
            <div class="answers" id="buttons-resposta">
                <button class="btn">Resposta 1</button>
                <button class="btn">Resposta 2</button>
                <button class="btn">Resposta 3</button>
                <button class="btn">Resposta 4</button>
            </div>
        </div>
    </div>

    <div class="questoes">
        <div class="text-question">
            <p>Q. {{4}}</p>
        </div>
        <div class="quiz">
            <p class="enunciado" id="pergunta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta ratione debitis. Iusto odit fugiat fugit. Et eligendi illo maiores necessitatibus consequatur laudantium ex, officia optio, aspernatur mollitia doloremque saepe.</p>
            <div class="answers" id="buttons-resposta">
                <button class="btn">Resposta 1</button>
                <button class="btn">Resposta 2</button>
                <button class="btn">Resposta 3</button>
                <button class="btn">Resposta 4</button>
            </div>
        </div>
    </div>
    
    <div class="questoes">
        <div class="text-question">
            <p>Q. {{5}}</p>
        </div>
        <div class="quiz">
            <p class="enunciado" id="pergunta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta ratione debitis. Iusto odit fugiat fugit. Et eligendi illo maiores necessitatibus consequatur laudantium ex, officia optio, aspernatur mollitia doloremque saepe.</p>
            <div class="answers" id="buttons-resposta">
                <button class="btn">Resposta 1</button>
                <button class="btn">Resposta 2</button>
                <button class="btn">Resposta 3</button>
                <button class="btn">Resposta 4</button>
            </div>
        </div>
    </div>

    <div id="paginacao">
        <span id="back" class="angles"><i class="fa-solid fa-angles-left"></i></span>
        <!-- Indicador de página -->
        <span id="current" class="pagina" data-pagina="1">1</span>
        <span class="pagina" data-pagina="2">2</span>
        <!-- Adicione mais spans conforme necessário -->
        <span id="next" class="angles"><i class="fa-solid fa-angles-right"></i></span>
    </div>
</main>

{% endblock %}