{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Banana's | Dashboard</title>

    <link rel="icon" href="{% static 'img/logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <header>
        <h1>Banana's</h1>
    </header>
    
    <main>
        <table>
            <tr>
                <th>ID</th>
                <th>Primeira</th>
                <th>Segunda</th>
            </tr>
            <!--! getting inforções do models.py (DB) -->
            <!--! laço de repetição para passsar por todos os valores -->
            {% for corte in cortes %}
            <tr>
                <td>{{corte.id_corte}}</td>
                <td>{{corte.primeira}}</td>
                <td>{{corte.segunda}}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
