<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Course</title>

    <link rel="icon" href="/test/static/img/logo_course.jpeg">
    <link rel="stylesheet" href="/test/static/style/base.css">
    <script src="/test/static/js/base.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--* Menu Hamburger -->
            <label class="hamburger">
                <input id="menu-hamburger" type="checkbox">
                <svg viewBox="0 0 32 32">
                    <path class="hamburger-line line-top-bottom"
                        d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                    </path>
                    <path class="hamburger-line" d="M7 16 27 16"></path>
                </svg>
            </label>

            <a href="#"><img src="{% static 'course/img/logo_course.jpeg' %}" alt=""></a>
            <a href="#">Course</a>
        </div>

        <div class="menu-right">
            <nav id="menu">
                <a class="b-link" href="{% url 'Dashboard' %}">Home</a> <!--aparecer se for autenticado-->
                <a class="b-link" href="{% url 'Questoes' %}">Questões</a>
                <a class="b-link" href="#">Sobre</a>
            </nav>
            <label class="switch">
                <input id="switch" type="checkbox">
                <span class="slider"></span>
            </label>
            <!-- <div class="login">
                <a href="{% url 'Dashboard' %}">Entrar</a>
            </div> -->
            <div class="menu-user">
                <ul class="dropdown-menu">
                    <li>
                        <i id="menu-icon" class="fa-solid fa-user"></i>
                        <ul class="dropdown">
                            <li>
                                <p>Olá, </p>
                            </li>
                            <li><a href="#">
                                    <span><i class="fa-solid fa-house"></i></span>
                                    <span>Acessar Conta</span>
                                </a></li>
                            <li><a id="sair" href="#">
                                    <span><i class="fa-solid fa-right-from-bracket"></i></span>
                                    <span>Sair</span>
                                </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main class="main-home">
        <div class="sec-main-home">
            <div class="course-text-home">
                <h1>Course</h1>
                <p>O banco de questões mais completo da internet! Torne-se um especialista nas áreas do conhecimento!
                </p>
            </div>
            <div id="square_1"></div>
            <div id="square_2"></div>
            <div id="square_3"></div>
            <div id="square_4"></div>
            <div id="square_5"></div>
        </div>
    </main>

    <footer>
        <div class="footer_section">
            <div class="footer-item">
                <a href="#"><img src="{% static 'course/img/logo_course.jpeg' %}" alt=""></a>
                <h2>Course</h2>
            </div>
            <div class="footer-item social">
                <ul>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-instagram"></i> </a></li>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-linkedin-in"></i> </a></li>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-youtube"></i> </a></li>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-twitter"></i> </a></li>
                </ul>
            </div>
        </div>
        <p class="rights">© Course 2024 | All Rights Reserveds</p>
    </footer>
</body>

</html>