<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Questões | Curse</title>

    <link rel="icon" href="/test/static/img/logo_course_sem_fundo.png">
    <link rel="stylesheet" href="/test/static/style/base.css">
    <script src="/test/static/js/base.js" defer></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="logo">
            <!--* Menu Hamburger -->
            <label class="hamburger">
                <input id="menu-hamburger" type="checkbox">
                <svg viewBox="0 0 32 32">
                    <path class="hamburger-line line-top-bottom"
                        d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                    </path>
                    <path class="hamburger-line" d="M7 16 27 16"></path>
                </svg>
            </label>

            <a href="#"><img src="{% static 'course/img/logo_course.jpeg' %}" alt=""></a>
            <a href="#">Course</a>
        </div>

        <div class="menu-right">
            <nav id="menu">
                <a class="b-link" href="{% url 'Dashboard' %}">Home</a> <!--aparecer se for autenticado-->
                <a class="b-link" href="{% url 'Questoes' %}">Questões</a>
                <a class="b-link" href="#">Sobre</a>
            </nav>
            <label class="switch">
                <input id="switch" type="checkbox">
                <span class="slider"></span>
            </label>
            <!-- <div class="login">
                <a href="{% url 'Dashboard' %}">Entrar</a>
            </div> -->
            <div class="menu-user">
                <ul class="dropdown-menu">
                    <li>
                        <i id="menu-icon" class="fa-solid fa-user"></i>
                        <ul class="dropdown">
                            <li>
                                <p>Olá, </p>
                            </li>
                            <li><a href="#">
                                    <span><i class="fa-solid fa-house"></i></span>
                                    <span>Acessar Conta</span>
                                </a></li>
                            <li><a id="sair" href="#">
                                    <span><i class="fa-solid fa-right-from-bracket"></i></span>
                                    <span>Sair</span>
                                </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main class="main-question">

        <div class="questoes">
            <div class="text-question">
                <div class="informations">
                    <p class="indexQuestao">Q.{{1}}</p>
                    <p>-</p>
                    <p class="prova">Enem</p>
                    <p>-</p>
                    <p class="conteudo">Matemática</p>
                    <p>-</p>
                    <p class="ano">2023</p>
                </div>
                <p class="acertou">Você acertou!</p>
            </div>
            <div class="quiz">
                <p class="enunciado" id="pergunta">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dicta ratione debitis. Iusto odit fugiat fugit. Et eligendi illo maiores necessitatibus consequatur laudantium ex, officia optio, aspernatur mollitia doloremque saepe.</p>
                <div class="answers">
                    {% for question in questions %}
                    {% if question.correct == 'A'%}
                    <div class="answer">
                        <p>A)</p>
                        <button id="" value="A" class="btn">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati, voluptas vel impedit libero tenetur voluptate! Aspernatur aliquid veritatis, earum mollitia hic voluptatibus vero sit, exercitationem quia distinctio facere delectus sed? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, sed! Accusantium dolorem cupiditate perferendis hic sit? Incidunt sit accusantium dolorum officiis quae ipsa sunt? Fugit saepe eum voluptatum ipsum mollitia?
                        </button>
                    </div>
                    {% if question.correct == 'B'%}
                    <div class="answer">
                        <p>B)</p>
                        <button id="B" value="B" class="btn">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere blanditiis vel quisquam molestiae! Quasi modi tenetur quisquam. Ullam veritatis, ipsa odio numquam sequi reprehenderit excepturi nulla cupiditate sed quaerat. Commodi?</button>
                    </div>
                    {% if question.correct == 'C'%}
                    <div class="answer">
                        <p>C)</p>
                        <button id="" value="C" class="btn">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam ab quis culpa officia, consectetur temporibus velit, tenetur cumque excepturi reprehenderit eveniet, eum earum natus. Excepturi laboriosam facilis voluptate tenetur rerum.</button>
                    </div>
                    {% if question.correct == 'D'%}
                    <div class="answer">
                        <p>D)</p>
                        <button id="" value="D" class="btn">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia molestias enim quibusdam at totam, amet odio sint omnis a accusamus natus porro blanditiis nisi animi quasi voluptatum, dicta laborum magni.</button>
                    </div>
                    {% if question.correct == 'E'%}
                    <div class="answer">
                        <p>E)</p>
                        <button id="" value="E" class="btn">Lorem, ipsum dolor sit amet consectetur adipisicing elit. A, repellendus odio! Accusamus vero, repellat dolorem mollitia quidem magni quaerat maiores, eius animi quo laborum temporibus nam in laudantium sit. Reprehenderit!</button>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- <div id="paginacao">
            <span id="back" class="angles"><i class="fa-solid fa-angles-left"></i></span>

            <span id="current" class="pagina" data-pagina="1">1</span>
            <span class="pagina" data-pagina="2">2</span>

            <span id="next" class="angles"><i class="fa-solid fa-angles-right"></i></span>
        </div> -->

    </main>

    <footer>
        <div class="footer_section">
            <div class="footer-item">
                <a href="#"><img src="{% static 'course/img/logo_course.jpeg' %}" alt=""></a>
                <h2>Course</h2>
            </div>
            <div class="footer-item social">
                <h2>Social</h2>
                <ul>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-instagram"></i> </a></li>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-linkedin-in"></i> </a></li>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-youtube"></i> </a></li>
                    <li> <a href="" target="_blank"> <i class="fa-brands fa-twitter"></i> </a></li>
                </ul>
            </div>
        </div>
        <p class="rights">© Course 2024 | All Rights Reserveds</p>
        <p class="rights"> By: Gustavo Cardoso Costa</p>
    </footer>

    <script type="text/javascript"></script>
</body>

</html>