{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'app_cadastro/img/logo.jpg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app_adastro/css/style.css' %}">
    <script src="{% static 'app_cadastro/js/script.js' %}" defer></script>

    <title>Banana's</title>
</head>
<body>
    <nav>
        Banana's
    </nav>
    
    {% block conteudo %}

    {% endblock %}

</body>
</html>